<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<style>
	.active {
		background-color: crimson;
		transition: background-color 0.8s ease-out;
	}
</style>
	<body>
		
		<div id="app">
			<p>Todo: <input type="text" v-model="todo"></p>
			<button v-on:click="addTodo">Add Todo</button>
			<h1>{{ message }}</h1>
			<ol>
		    <li v-for="todo in todos">
		      {{ todo.text }}
		    </li>
		  </ol>
		  
		  <hr>
			<button v-on:click="toggleStyle">Add Style</button>
			<p v-bind:class="{active: isActive}">Hello</p>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
		<script src="index.js"></script>
	</body>
</html>